name: CD - Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout config repo
      uses: actions/checkout@v4

    - name: Set up Kind
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: v0.20.0

    - name: Load Docker image
      run: |
        docker pull docker.io/arshattech/hello-k8s:latest
        kind load docker-image docker.io/arshattech/hello-k8s:latest

    - name: Deploy to cluster
      run: |
        kubectl apply -f deployment.yaml
        kubectl apply -f service.yaml
